#body {
  color: black;
  font-family: "Roboto", sans-serif;
  font-size: larger;
  margin-top: 2%;
}

#imgCarousel {
  width: auto;
  max-width: 100%;
  max-height: 500px;
  border-radius: 30px;
}

#carousel {
  width: 100%;
  height: 500px;
  float: left;
  margin-left: 5%;
}

#photos {
  width: 50%;
}

#signaler {
  float: left;
  margin-left: 5%;
  font-style: italic;
  font-weight: bold;
  font-size: medium;
  text-decoration:none; 
  color: black;
}

#texte {
  margin-left: 50%;
}

#infos {
  margin: 5% 5% 0 15%;
  text-align: left;
}

#calendrier {
    margin-bottom: 4%;
}

#btnContact {
  background-color: #b8d6aa;
  border-color: #b8d6aa;
  color: black;
  display: block;
  margin: auto;
}

.modal-body p {
  font-size: larger;
  padding-left: 5%;
}

#commentaires {
    display: inline-block;
    text-align: left;
    margin: 5%;
}

#avis {
    padding: 2%;
    margin: 2%;
    border-radius: 15px;
    background-color: #EEEEEE;
}
