#logo {
    height: 80px;
    width: 80px;
    margin-left: 10%;
}

.text {
    margin-top: -1%;
}

.text a {
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: larger;
    position: relative;
}

.text a:hover {
    color: #6c757d;
}

.text a::after{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    height: 2px;
    width: 70%;
    bottom: 0;
    top:70%;
    margin: auto;
    background-color: black;
}

.text a:hover::after {
    background-color: #6c757d;
}